*.pid
.idea/
.env
.envrc
.env_services
build/
.eggs/
.venv
*.pyc
__pycache__
*.swp
*.swn
*.swo
*.log
*.sublime-project
*.png~
*.kra~
dist
# Sphinx documentation
docs/build/
_build
_static
_templates
media/
.vscode
.tar
.tar.gz
.zip
